body {
	background-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/cork-board.jpg);
}

#board {
	width: 1200px;
	margin: 60px auto;
}

#board h1 {
	text-align: center;
	font-size: 50px;
}

li {
	list-style-type: none;
}

.column-container .column {
	display: inline-flex;
	background-color: rgba(90, 255, 164, 0.5);
	flex-direction: column;
	width: 350px;
	min-height: 400px;
	margin: 25px;
	position: relative;
	border-radius: 10px;
}

#board .create-column {
	margin-left: 50%;
    transform: translateX(-50%);
	height: 50px;
	width: 160px;
	cursor: pointer;
	box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
	margin-top: 80px;
	font-size: 17px;
}

.column .column-card-list {
	min-height: 100px;
	padding: 0;
}

.column .column-title {
	text-align: center;
	border-bottom: groove #E5E5E5;
	padding-bottom: 15px;
	font-size: 30px;
	word-wrap: break-word;
}

.card-description {
	padding: 15px;
	background: #EAE672;
	font-size: 20px;
	color: #000;
	box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
	margin: 10px 10px;
	word-wrap: break-word;
}

.column > .btn-delete, .card > .btn-delete{
	position: absolute;
	right: 0;
	cursor: pointer;
}

.card > .btn-delete {
	right: 10px;
}

.card {
	position: relative;
}

.add-card {
	width: 120px;
	height: 40px;
	margin-left: 50%;
	transform: translateX(-50%); 
	cursor: pointer;
	box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
	background: #5eb1f9;
}

.column-container {
	margin-top: 80px;
}
